body {
    font-family: sans-serif;
    background-color: lightblue;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQssM4NIuwh_VohYDZ3ZECGFxcZ1MVz5mvsbZ5rtNyY8lxb-3cmiQ);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-top: 75px;
}

.center {
    text-align: center;
    background-color: grey;
    margin:0 auto;
    padding-left:200;
    padding-right:200;
    max-width:800;
    
}

.image{
    margin:0 auto;
    padding-left:200;
    max-width:800;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    padding-left:200;
}

.body
{
    max-width:800px;
    border: 5px solid black;
    border-top-style: dotted;
    border-bottom-style: dashed;
    margin:0 auto;
    color:white;
    font-weight: bold;
    padding-left: inherit;
    text-align: left;
}
.container
{
    max-width:800px;
    
    margin:0 auto;
    color:white;
    font-weight: bold;
    padding-left:200;
    text-align: left;
}

